<vue [icon]="'account_circle'" [title]="mode+' PROFILE'" >
  <close-ctrl class="vue-ctrl" (click)=close.emit(e)></close-ctrl>
  <div class="container">

    <div class="row">
      <div class="col text-center">
        <img class="profile" [src]="account?.img" (click)="imgEditMode=!imgEditMode" >
        <form [formGroup]="photoForm" [hidden]="!imgEditMode">
          <ng-template matStepLabel>Upload a photo</ng-template>
          <input type="file" (change)="onFileSelected($event)" #file>
          <button mat-icon-button color="primary" (click)="uploadImg()" [disabled]="!selectedFile">
            <mat-icon>save_alt</mat-icon>
          </button>
          <div class="alert alert-danger" *ngIf="imgError">{{imgError}}</div>
        </form>

      </div>
    </div>

    <div class="row">
      <div class="col " >
        <table class="center">
          <tr>
            <td class="text-left"><button mat-icon-button (click)="emailEditMode=!emailEditMode"><mat-icon>edit</mat-icon></button></td>
            <td class="text-left" ><strong>Email:</strong></td>
            <td class="text-left" *ngIf="!emailEditMode">{{account?.email}}</td>
            <td class="text-left" [hidden]="!emailEditMode"><form [formGroup]="emailForm" (ngSubmit)="emailSubmit()"> <email-form-control showSubmit="true" focus="true"></email-form-control></form></td>
          </tr>
          <tr>
            <td class="text-left"><button mat-icon-button (click)="nameEditMode=!nameEditMode"><mat-icon>edit</mat-icon></button></td>
            <td class="text-left" ><strong>Account:</strong></td>
            <td class="text-left" *ngIf="!nameEditMode">{{account?.name}}</td>
            <td class="text-left" [hidden]="!nameEditMode"><form [formGroup]="nameForm" (ngSubmit)="nameSubmit()"> <account-name-form-control showSubmit="true" focus="true"></account-name-form-control></form></td>
          </tr>
          <tr>
            <td class="text-left"><button mat-icon-button (click)="phoneEditMode=!phoneEditMode"><mat-icon>edit</mat-icon></button></td>
            <td class="text-left" ><strong>Phone:</strong></td>
            <td class="text-left" *ngIf="!phoneEditMode">({{account?.phone ? account?.phone.toString().substr(0,3) : ''}}) {{account?.phone ? account?.phone.toString().substr(3,3) : '' }}-{{account?.phone ? account?.phone.toString().substr(6,4) : ''}}</td>
            <td class="text-left" [hidden]="!phoneEditMode"><form [formGroup]="phoneForm" (ngSubmit)="phoneSubmit()"> <phone-form-control ></phone-form-control><button mat-icon-button type="submit"><mat-icon>save_alt</mat-icon></button></form></td>
          </tr>
          <tr>
            <td class="text-left"><button mat-icon-button (click)="addressEditMode=!addressEditMode"><mat-icon>edit</mat-icon></button></td>
            <td class="text-left" ><strong>Address:</strong></td>
            <td class="text-left" *ngIf="!addressEditMode">{{account?.address?.address}}<br>{{account?.address?.city}}, {{account?.address?.state}} {{account?.address?.zip}}</td>
            <td class="text-left" [hidden]="!addressEditMode">

              <form [formGroup]="addressForm" (ngSubmit)="addressSubmit()">
                <address-form-control></address-form-control>
                <div class="text-right"><button type="submit" mat-mini-fab color="primary"  [disabled]="!addressFormCtrl.checkValid()"><mat-icon>save_alt</mat-icon></button></div>
              </form>

            </td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</vue>
