vue{
  table.center {
    margin-left:auto;
    margin-right:auto;
  }
  img{
    height: 150px;
  }
}

.prev-ctrl{
  position: absolute;
  left: 5px;
  top: 50%;
  z-index: 1;
}

.next-ctrl{
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 1;
}
