<div class="agent-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="agent-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Agent Control Panel</h1>
  </mat-toolbar>

  <mat-sidenav-container class="agent-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>CLIENTS</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a (click)="openClientDialog()" ><button mat-icon-button type="button"><mat-icon>add</mat-icon></button>Add Client</a>
          </mat-list-item>
          <mat-list-item>
            <a (click)="listClients()" ><button mat-icon-button type="button"><mat-icon>view_list</mat-icon></button>List Client</a>
          </mat-list-item>

      </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>SETTINGS</mat-panel-title>
        </mat-expansion-panel-header>
        Choose a Theme
        <mat-nav-list >
          <a (click)="updateTheme(theme)" mat-list-item *ngFor="let theme of appService.themes" [id]="theme+'-theme-select'" >{{theme | urldecode:true}}</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-sidenav>

    <mat-sidenav-content>
      <client-data-table *ngIf="showClientDataTable"></client-data-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
