<control-panel>
  <div class="sidenav">

  <div class="container" >
    <div class="row" (click)="display = !display">
      <div class="col"><mat-icon>people</mat-icon></div><div class="col-8-md">CLIENTS</div><div class="col"><mat-icon>chevron_right</mat-icon></div>
    </div>
    <ul *ngIf="display">
      <li>ADD NEW CLIENT</li>
      <li>LIST CLIENTS</li>
    </ul>
  </div>
  <!-- <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>CLIENTS</mat-panel-title>

    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item>
        <a (click)="openClientDialog()" ><button mat-icon-button type="button"><mat-icon>add</mat-icon></button>Add Client</a>
      </mat-list-item>
      <mat-list-item>
        <a (click)="listClients()" ><button mat-icon-button type="button"><mat-icon>view_list</mat-icon></button>List Client</a>
      </mat-list-item>

  </mat-nav-list>
</mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="aeo">
      <mat-panel-title>THEME</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list >
      <mat-list-item *ngFor="let theme of appService.themes" (click)="updateTheme(theme)">
        <span class="settings-item"  [id]="theme+'-theme-select'" ></span><span class="theme-text">{{theme | urldecode:true}}</span>
      </mat-list-item>
      <a (click)="updateTheme(theme)" mat-list-item *ngFor="let theme of appService.themes" [id]="theme+'-theme-select'" >{{theme | urldecode:true}}</a>
      <span class="settings-item"  [id]="theme+'-theme-select'" ></span>
    </mat-nav-list>
  </mat-expansion-panel>-->
  </div>
</control-panel>
