<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <strong class="milieu-header" *ngIf="milieuMode === 'OPENED'" >Agent Milieu</strong><button mat-icon-button (click)="toggleMilieuMode()" ><mat-icon>menu</mat-icon></button>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div class="aeo-sidedrawer-container" [ngClass]="{'open': mode === 'OPEN', 'icon': mode === 'ICON'}">
  <div class="sidenav-header" style="text-align: center"><strong *ngIf="mode==='OPEN'">{{controlPanel.title}}</strong>

    <button mat-icon-button (click)="toggleMode()" >
      <mat-icon>menu</mat-icon></button>

  </div>

  <div [ngClass]="{'text-center': mode === 'ICON'}" *ngFor="let menuItem of controlPanel?.MenuItems" (mouseenter)="displayChildren(menuItem)" (mouseleave)="hideChildren(menuItem)">

    <button class='menu-item' mat-button [ngClass]="{'mat-button': mode === 'OPEN', 'mat-icon-button': mode === 'ICON'}" (click)="toggleDisplayChildren(menuItem)"   >
      <mat-icon class="menu-icon">{{menuItem.icon}}</mat-icon>
      <span  *ngIf="mode==='OPEN'">{{menuItem.title}}</span>
      <span *ngIf="mode==='OPEN'" style="float:right" ><mat-icon class="submenu-icon">expand_{{menuItem.displayChildren ? 'less' : 'more'}}</mat-icon></span>
    </button>


    <div class="child-container" *ngIf="menuItem.displayChildren">
      <button mat-button  class="children"  *ngFor="let childItem of menuItem.children" (click)="menuItemSelected.emit({parent: menuItem.title, child: childItem.title})" >{{childItem.title}}</button>
    </div>

  </div>


</div> -->
