<div class="dialog-container" *ngIf="accountService.account.authenticated === false">
  <span mat-dialog-title (click)="clicky()">{{action}}</span>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" type="Email"  formControlName="email" required autocomplete="true" />

        <button mat-button *ngIf="emailFC.value" matSuffix mat-icon-button aria-label="Clear" (click)="emailFC.reset()">
          <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="emailFC.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field hintLabel="4 - 16 characters N0 spaces" *ngIf="action !== RESET_PASSWORD">
        <input matInput #input placeholder="Password" maxlength="16" formControlName="password"  required autocomplete="false" [type]="inputType">

        <button mat-button *ngIf="passwordFC.value" matSuffix mat-icon-button aria-label="Visability" (mousedown)="inputType='text'" (mouseup)="inputType='password'" (mouseout)="inputType='password'" >
          <mat-icon>{{inputType === 'text' ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <button mat-button *ngIf="passwordFC.value" matSuffix mat-icon-button aria-label="Clear" (click)="passwordFC.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="passwordFC.invalid">{{getPasswordError()}}</mat-error>
        <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <button class="submit" mat-raised-button color="primary" [disabled]="!accountForm.valid || formPending">{{action}}</button>
    <div class="alert alert-danger" *ngIf="message">{{message}}</div>

  </form>
  <hr>
  <div class='alt-actions'>
    <button mat-raised-button color="accent" (click)="tradeActions()" *ngIf="action !== RESET_PASSWORD">{{altAction}}</button>
    <button mat-button *ngIf="action !== RESET_PASSWORD" (click)="setActionResetPassword()">FORGOT PASSWORD</button>
    <button mat-button mat-dialog-close>CANCEL</button>
  </div>
</div>

<div class="dialog-container" *ngIf="accountService.account.authenticated === true">
  <span mat-dialog-title>ACCOUNT INFORMATION</span>
  <mat-dialog-content class="text-center">
    <strong>{{accountService.account.email}}</strong><br><br>
    <img class="img-circle" src="/assets/img/blank-profile.png" height="150px">
  </mat-dialog-content>
  <BR>
  <div class='alt-actions'>
    <button mat-raised-button color="accent" >COMPLETE PROFILE</button>
    <button mat-button>LOG OUT</button>
    <button mat-button mat-dialog-close>OK</button>
  </div>
</div>
