div.dialog-container{
  width: 300px;

  .mat-form-field{
    width: 100%;
  }

  .submit{
    width: 100%;
  }

  mat-dialog-actions{
    display: flex;
 align-items: center;
 justify-content: space-around;
   button{
     width: 150px;
     margin-bottom: 5px;
   }
  }
}
