div.card{
  margin-top: 25px;

  .aeo-card-header{
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }


  .vue-button{
    position: absolute;
    top: -20px;
    left:10px;
  }
}
