@import '~@angular/material/theming';

@mixin side-drawer-theme($theme){

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $width: 225px;

  aeo-side-drawer{

    div.aeo-sidedrawer-container{

      &.closed{ left: -$width }

      position:fixed;
      top: 0;
      height: 100vh;
      transition: all .5s ease-in-out;
      border-right: 1px solid grey;
      z-index: 2;
      width: $width;
      left: 0px;
      color: mat-color($foreground, text);
      background-color: mat-color($background, dialog);

      button.aeo-sidedrawer-control{
        position: absolute;
        top: 20px;
        left: ($width + 20px);
      }
    }
  }
}
