@import '~@angular/material/theming';

@mixin account-upsert-dialog-theme($theme){
  $accent: map-get($theme, accent);
  .mat-dialog-container{
    background-color: white;
    color: mat-color($accent, darker);
  }
}
