$button-spacing: 20px;
$fixed-button-layer: 4;
$button-size: 50px;

button#account{
  position:  fixed;
  top: $button-spacing;
  right: $button-spacing;
  z-index: $fixed-button-layer;

  &.empty{

    opacity: .5;
  }
}

#settings{
  position: fixed;
  top: $button-spacing;
  left: ($button-spacing + $button-size +$button-spacing);
  z-index: $fixed-button-layer;
}

:export{
  buttonSpacing: $button-spacing;
}
