@import '~@angular/material/theming';

$corp-primary-color: mat-palette($mat-blue-grey);
$corp-accent-color: mat-palette($mat-grey);
$corp-warn-color: mat-palette($mat-red);

$corp-theme: mat-light-theme( $corp-primary-color, $corp-accent-color, $corp-warn-color);
