<div class="aeo-sidedrawer-container" [ngClass]="{'open': mode === 'OPEN', 'icon': mode === 'ICON'}">
  <div class="sidenav-header" style="text-align: center"><strong *ngIf="mode==='OPEN'">{{controlPanel.title}}</strong><button mat-icon-button (click)="toggleMode()"><mat-icon>menu</mat-icon></button></div>
  <div [ngClass]="{'text-center': mode === 'ICON'}" *ngFor="let menuItem of controlPanel?.MenuItems" >
      <span  ><button mat-icon-button  style="postion: relative; bottom:3px;"><mat-icon>{{menuItem.icon}}</mat-icon></button></span><span *ngIf="mode==='OPEN'" >{{menuItem.title}}</span><span *ngIf="mode==='OPEN'" style="float:right" ><button mat-icon-button style="postion: relative; bottom:3px;" ><mat-icon>chevron_right</mat-icon></button></span>
    </div>
</div>
