
$drawer-width: 225px;
$drawer-layer: 4;
$button-spacing: 20px;

div.aeo-sidedrawer-container{

  position:fixed;
  top: 0;
  height: 100vh;
  transition: all .5s ease-in-out;
  border-right: 1px solid grey;
  z-index: $drawer-layer;

  left: 0px;

  &.closed{ left: -$drawer-width }

  button.aeo-sidedrawer-control{
    position: absolute;
    top: $button-spacing;
    left: ($drawer-width + $button-spacing);
  }
}

.menu-item.mat-button{
  width: 100%;
  text-align: left;
}


ul{
  list-style-type: none;
}


div.aeo-sidedrawer-container.open{
  width: 225px;

  .children{
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
}



div.aeo-sidedrawer-container.icon{
  width: 50px;

  .child-container{
    //display: none;
    background-color: red;
    position: relative;
    left: 50px;
    bottom: 40px;
    height:0px;
    width:0px;
  }

  .children{

    //text-align: left;
    border-radius: 0px;
    width: 225px;
  }

}

////////////////////////////////////////////////////
/*
.control-panel-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-container {
    flex: 1;

    .is-mobil{

      flex: 1 0 auto;
    }

    .children{
      position: absolute;
      left: 500px;
      z-index: 99999999999999999999999999999999999;
    }
  }
}

.children{
  position: absolute;
  left: 500px;
  z-index: 99999999999999999999999999999999999;
}

.settings-item{
  height: 30px;
  width: 30px;
  margin: 0 3px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  transition: .5s;

  &:hover{ transform: scale(1.2) }
}





mat-sidenav{
  border-right: 1px grey solid;
}

*/
