@import '~@angular/material/theming';

@mixin control-panel-theme($theme){

  $primary: map-get($theme, primary);
  //$accent: map-get($theme, accent);
  //$foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);

  div.aeo-sidedrawer-container{
    background-color: mat-color($primary, darker);
    color: white;
  }

  div.aeo-sidedrawer-container.icon{
    .children{
      background-color: mat-color($primary, darker);
      color: white;
    }
  }
}
