.view-port-container{
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.media-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.view-port-content{
    width: 100vw;
    z-index: 3;
}

.view-port-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
