div{
  text-align: center;
  ul{
    list-style-type: none;
    display: block;
    padding: 0px;

    .settings-item{
      height: 30px;
      width: 30px;
      margin: 0 3px;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      transition: .5s;      

      &:hover{ transform: scale(1.2) }

      img{ height: 50px }
    }
  }
}
