<vue [icon]="action.icon" >
  <form [formGroup]="accountForm" (ngSubmit)="accountService.authAccount(accountForm.value)">
    <email-form-control ></email-form-control><br>
    <password-form-control [hidden]="action === RESET_PASSWORD"></password-form-control><br>
    <button class="submit-button" mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid">{{action.title}}</button>
  </form>
  <mat-divider></mat-divider>
  <button mat-raised-button type="button" *ngIf="action !== LOGIN" (click)="action = LOGIN">{{LOGIN.title}}</button>
  <button mat-raised-button type="button" *ngIf="action !== CREATE" (click)="action = CREATE">{{CREATE.title}}</button>
  <button mat-button type="button" color="accent" (click)="action=RESET_PASSWORD" *ngIf="action !== RESET_PASSWORD">{{RESET_PASSWORD.title}}</button>
</vue>
