vue{
  button{
    margin-top: 15px;
    width: 200px;
    margin-right: 3px;
    margin-left: 3px;

    &.submit-button{
      margin-bottom: 15px;
    }
  }

  mat-spinner{
    display: block;
    margin: auto;
  }
}
