<media-view-port>
  <media><img src="assets/img/home-for-sale.jpg"  ></media>
  <content>
    <mat-card *ngIf="account.rank >= 1">
      <mat-card-title>Profile Info</mat-card-title>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
        <table align="center">
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit name">edit</mat-icon>
             </button>
            </td>
            <td>Name:</td>
            <td >{{account.name}}</td>
          </tr>
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit Email">edit</mat-icon>
             </button>
            </td>
            <td>Email:</td>
            <td >{{account.email}}</td>
          </tr>

          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit Phone">edit</mat-icon>
             </button>
            </td>
            <td>Phone:</td>
            <td >{{account.phone}}</td>
          </tr>
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit Address">edit</mat-icon>
             </button>
            </td>
            <td>Address:</td>
            <td >{{account.address.address}}</td>
          </tr>

          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit City">edit</mat-icon>
             </button>
            </td>
            <td>City:</td>
            <td >{{account.address.city}}</td>
          </tr>
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit State">edit</mat-icon>
             </button>
            </td>
            <td>Address:</td>
            <td >{{account.address.state}}</td>
          </tr>
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit Zip">edit</mat-icon>
             </button>
            </td>
            <td>Zip:</td>
            <td >{{account.address.zip}}</td>
          </tr>
          <tr>
            <td>
              <button mat-icon-button>
               <mat-icon aria-label="Edit Password">edit</mat-icon>
             </button>
            </td>
            <td>Password:</td>
            <td ></td>
          </tr>
          <tr>
            <td>

            </td>
            <td>Rank:</td>
            <td >{{account.rank}}</td>
          </tr>

        </table>
      </div>
      <div class="col-md-6 middle">
        <br>
        <img class="grot" [src]="account.img" height="300px">
      </div>
      </div>
      </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="account.rank < 1">
      <mat-card-title>Complete Profile</mat-card-title>
      <mat-card-content>
    <mat-horizontal-stepper linear="false" #stepper="matHorizontalStepper" [selectedIndex]="accountService.account.name ? accountService.account.phone ? accountService.account.address ? accountService.account.img ? 4 : 3 : 2 : 1 : 0">
    <mat-step [stepControl]="nameForm" [completed]="accountService.account.name ? true : nameForm.valid ? true : false" >
      <form [formGroup]="nameForm"  (ngSubmit)="updateName()">
        <ng-template matStepLabel>Enter your name</ng-template>
        <mat-form-field>
          <input matInput #name type="text"  placeholder="Name" formControlName="name" maxlength="accountService.NAME.max" required>
        </mat-form-field>
        <button mat-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!nameForm.valid" matStepperNext *ngIf="nameForm.controls.name.value">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="phoneForm" [completed]="accountService.account.phone ? true : phoneForm.valid ? true : false">
      <form [formGroup]="phoneForm" (ngSubmit)="accountService.updatePhone(phoneForm.controls.phoneAreaCode.value+phoneForm.controls.phonePre.value+phoneForm.controls.phonePost.value)">
        <ng-template matStepLabel>Enter your cell phone</ng-template>

          ( <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phoneAreaCode" required maxlength="3" >
          </mat-form-field> )

          <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phonePre"  required maxlength="3" >
          </mat-form-field> -

          <mat-form-field style="width: 40px">
            <input matInput formControlName="phonePost"  type=tel required maxlength="4" >
          </mat-form-field>
          <button mat-icon-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!phoneForm.valid" matStepperNext *ngIf="phoneForm.controls.phonePost.value">
            <mat-icon>navigate_next</mat-icon>
          </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressForm" [completed]="accountService.account.address ? true : addressForm.valid ? true : false">
      <form [formGroup]="addressForm" (ngSubmit)=accountService.updateAddress(addressForm.value)>
        <ng-template matStepLabel>Enter your address</ng-template>
        <mat-form-field style="width: 60%">
          <input matInput placeholder="Address" formControlName="address" required maxlength="accountService.ADDRESS.max" >
        </mat-form-field>
        <br>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="City" formControlName="city" required >
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <mat-select placeholder="state" required formControlName="state">
            <mat-option *ngFor="let state of appService.states" value="{{state.abbr}}"  >{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="Zip" formControlName="zip" required >
        </mat-form-field><br>

        <button mat-mini-fab color="primary" type="submit" matSuffix mat-icon-button [disabled]="!addressForm.valid" matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step optional [stepControl]="photoForm" [completed]="accountService.account.img ? true : false">
      <form [formGroup]="photoForm">
        <ng-template matStepLabel>Upload a photo</ng-template>
        <input type="file" (change)="onFileSelected($event)" #file>
        <button mat-raised-button color="primary" (click)="accountService.uploadImg(selectedFile)" [disabled]="!selectedFile">
          Upload
        </button>
      </form>
      <br><div class="alert alert-danger" *ngIf="imgError">{{imgError}}</div>
      <img [src]="account.img" height="150px"><br><br>
      <button mat-mini-fab color="primary" type="button" matSuffix mat-icon-button [disabled]=" !account.img" matStepperNext>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-step>
    <mat-step>
  <ng-template matStepLabel>Done</ng-template>

    You are now done.
    <button mat-raised-button color="primary" type="button" [disabled]="!account.name || !account.phone || !account.address" (click)="this.accountService.promote((account.rank + 1))">
      FINISH
    </button>


</mat-step>
</mat-horizontal-stepper>
</mat-card-content>
</mat-card>
  </content>
</media-view-port>
