
<media-view-port>
  <media><img src="assets/img/home-for-sale.jpg"  ></media>
  <content>
    <mat-horizontal-stepper linear="false" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="nameFG">
      <form [formGroup]="nameFG"  (ngSubmit)="updateName()">
        <ng-template matStepLabel>Enter your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="nameFC" maxlength="accountService.NAME.max" required>
        </mat-form-field>
        <button mat-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!nameFG.valid" matStepperNext *ngIf="nameFG.controls.nameFC.value">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="phoneFG">
      <form [formGroup]="phoneFG">
        <ng-template matStepLabel>Enter your cell phone</ng-template>

          ( <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phoneAreaCodeCtrl" required maxlength="3" >
          </mat-form-field> )

          <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phonePreCtrl" required maxlength="3" >
          </mat-form-field> -

          <mat-form-field style="width: 40px">
            <input matInput formControlName="phonePostCtrl"  type=tel required maxlength="4">
          </mat-form-field>
          <button mat-icon-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!phoneFG.valid" matStepperNext *ngIf="phoneFG.controls.phonePostCtrl.value">
            <mat-icon>navigate_next</mat-icon>
          </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressForm">
      <form [formGroup]="addressForm">
        <ng-template matStepLabel>Enter your address</ng-template>
        <mat-form-field style="width: 60%">
          <input matInput placeholder="Address" formControlName="addressCtrl" required maxlength="accountService.ADDRESS.max" >
        </mat-form-field>
        <br>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="City" formControlName="cityCtrl" required>
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <mat-select placeholder="state" required formControlName="stateCtrl">
            <mat-option *ngFor="let state of appService.states" value="{{state.abbr}}">{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="Zip" formControlName="zipCtrl" required>
        </mat-form-field><br>
      
        <button mat-mini-fab color="primary" type="submit" matSuffix mat-icon-button [disabled]="!addressForm.valid" matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step>
  <ng-template matStepLabel>Done</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </div>
</mat-step>
</mat-horizontal-stepper>
  </content>
</media-view-port>
