
<media-view-port>
  <media><img src="assets/img/home-for-sale.jpg"  ></media>
  <content>

    <mat-card>
      <mat-card-title>Complete Profile</mat-card-title>
      <mat-card-content>
    <mat-horizontal-stepper linear="false" #stepper="matHorizontalStepper" [selectedIndex]="accountService.account.name ? accountService.account.phone ? accountService.account.address ? accountService.account.img ? 4 : 3 : 2 : 1 : 0">
    <mat-step [stepControl]="nameForm" [completed]="accountService.account.name ? true : nameForm.valid ? true : false" >
      <form [formGroup]="nameForm"  (ngSubmit)="updateName()">
        <ng-template matStepLabel>Enter your name</ng-template>
        <mat-form-field>
          <input matInput #name type="text"  placeholder="Name" formControlName="name" maxlength="accountService.NAME.max" required>
        </mat-form-field>
        <button mat-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!nameForm.valid" matStepperNext *ngIf="nameForm.controls.name.value">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="phoneForm" [completed]="accountService.account.phone ? true : phoneForm.valid ? true : false">
      <form [formGroup]="phoneForm" (ngSubmit)="accountService.updatePhone(phoneForm.controls.phoneAreaCode.value+phoneForm.controls.phonePre.value+phoneForm.controls.phonePost.value)">
        <ng-template matStepLabel>Enter your cell phone</ng-template>

          ( <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phoneAreaCode" required maxlength="3" >
          </mat-form-field> )

          <mat-form-field style="width: 30px">
            <input matInput type=tel formControlName="phonePre"  required maxlength="3" >
          </mat-form-field> -

          <mat-form-field style="width: 40px">
            <input matInput formControlName="phonePost"  type=tel required maxlength="4" >
          </mat-form-field>
          <button mat-icon-button color="primary" type="submit" matSuffix mat-icon-button [disabled]="!phoneForm.valid" matStepperNext *ngIf="phoneForm.controls.phonePost.value">
            <mat-icon>navigate_next</mat-icon>
          </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressForm" [completed]="accountService.account.address ? true : addressForm.valid ? true : false">
      <form [formGroup]="addressForm" (ngSubmit)=accountService.updateAddress(addressForm.value)>
        <ng-template matStepLabel>Enter your address</ng-template>
        <mat-form-field style="width: 60%">
          <input matInput placeholder="Address" formControlName="address" required maxlength="accountService.ADDRESS.max" >
        </mat-form-field>
        <br>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="City" formControlName="city" required >
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <mat-select placeholder="state" required formControlName="state">
            <mat-option *ngFor="let state of appService.states" value="{{state.abbr}}"  >{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 20%">
          <input matInput placeholder="Zip" formControlName="zip" required >
        </mat-form-field><br>

        <button mat-mini-fab color="primary" type="submit" matSuffix mat-icon-button [disabled]="!addressForm.valid" matStepperNext>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step optional [stepControl]="photoForm" [completed]="accountService.account.img ? true : false">
      <form [formGroup]="photoForm">
        <ng-template matStepLabel>Upload a photo</ng-template>
        <input type="file" (change)="onFileSelected($event)">
        <button mat-raised-button color="primary" (click)="accountService.uploadImg(selectedFile)">
          Upload
        </button>
      </form>
    </mat-step>
    <mat-step>
  <ng-template matStepLabel>Done</ng-template>
  You are now done.
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </div>
</mat-step>
</mat-horizontal-stepper>
</mat-card-content>
</mat-card>
  </content>
</media-view-port>
