<mat-form-field hintLabel="4 - 16 N0 spaces" >
  <input matInput #input placeholder="Password" maxlength="16" [formControl]="password" required autocomplete="false" [type]="inputType">
  <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Visability" type="button" (mousedown)="inputType='text'" (mouseup)="inputType='password'" (mouseout)="inputType='password'" >
    <mat-icon>{{inputType === 'text' ? 'visibility' : 'visibility_off'}}</mat-icon>
  </button>
  <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
  <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
</mat-form-field>
